@import url("https://fonts.cdnfonts.com/css/sf-pro-text");
@import "tailwindcss";

body {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, sans-serif;
}

@theme {
  --color-primary: #675dff;
}
